In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Concrete_data.csv')

In [3]:
#SHUFFLE
df = df.sample(frac=1)
df

,Cement,Blast,Fly Ash,Water,Superplasticizer,CA,FA,Age,CMS
741,480.0,0.0,0.0,192.0,0.0,936.0,721.0,28,43.89
370,218.9,0.0,124.1,158.5,11.3,1078.7,794.9,14,26.05
47,380.0,95.0,0.0,228.0,0.0,932.0,594.0,180,40.76
199,190.7,0.0,125.4,162.1,7.8,1090.0,804.0,3,15.04
153,323.7,282.8,0.0,183.8,10.3,942.7,659.9,56,80.20
...,...,...,...,...,...,...,...,...,...
889,262.0,111.0,86.0,195.0,5.0,895.0,733.0,28,33.72
472,446.0,24.0,79.0,162.0,11.6,967.0,712.0,28,44.42
713,157.0,236.0,0.0,192.0,0.0,935.4,781.2,3,9.69
438,167.0,75.4,167.0,164.0,7.9,1007.3,770.1,28,41.41
885,153.0,145.0,113.0,178.0,8.0,867.0,824.0,28,26.23

In [4]:
x = df.drop(columns='CMS')
y = df['CMS']

In [5]:
x_train = x[:1000]
y_train = y[:1000]
x_test = x[1000:]
y_test = y[1000:]

In [6]:
reg = linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [7]:
pred = reg.predict(x_test)

In [8]:
new_df = pd.DataFrame(pred,columns={'Predicted'},index=None)
new_df['Actual'] = np.array(y_test)
new_df

    Predicted  Actual
0   39.396605   63.14
1   42.262293   45.30
2   25.842441   32.25
3   33.399829   31.18
4   16.923007   12.18
5   47.224297   55.94
6   32.916365   37.91
7   53.635032   61.46
8   48.036922   41.84
9   56.770015   60.29
10  57.567940   56.70
11  43.758472   52.83
12  19.848043   35.23
13  40.642489   32.85
14  31.290300   42.64
15  20.145271   11.58
16  49.582724   33.49
17  34.878244   25.89
18  26.865197   33.95
19  20.585934   14.99
20  56.968450   77.30
21  22.084832   15.62
22  35.453504   23.52
23  24.255068   33.06
24  28.761535   32.92
25  33.592644   33.72
26  53.753267   44.42
27  24.204903    9.69
28  33.951447   41.41
29  31.167356   26.23